@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@plugin "@tailwindcss/typography";
@import "tailwind-animations";
@custom-variant dark (&:where(.dark, .dark *));

/* Fonts display */
@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/rubik-v31-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/montserrat-v31-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Roboto Serif";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/roboto-serif-v17-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/cinzel-v26-latin-800.woff2") format("woff2");
}

@theme {
    /* Light colors */
    --color-light-gray: #f5f5f5;
    --color-light-blue: #e6f0fa;
    --color-dark-blue: #0056b3;
    --color-plomo: #e0e0e0;
    --color-bright-blue: #004085;
    --color-sea-blue: #002b5c;
    --color-radiant: #e7fcc0;
    --color-shadow-header: rgba(0 2px 4px rgba(0, 0, 0, 0.1));

    /* Dark colors */
    --color-light-black: #222222;
    --color-acero: #4a5568;
    --color-niebla: #a1a1a1;
    --color-menu-dota: #1e2939;
    --color-dire: #e7000b;
    --color-plata: #cad5e2;

    /* Font Themes */
    --font-rubik: "Rubik", sans-serif;
    /*Párrafos*/
    --font-cinzel: "Cinzel", serif;
    /*Encabezados*/
    --font-roboto: "Roboto Serif", serif;
    /*Menús*/
    --font-montserrat: "Montserrat", sans-serif;
    /* Botones */

    /* Breakpoint personalizado TABLET */
    --breakpoint-tablet: 49rem;
}
