/* Fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,500;1,8..144,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@plugin "@tailwindcss/typography";
@import "tailwind-animations";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Light colors */
    --color-light-gray: #f5f5f5;
    --color-light-blue: #e6f0fa;
    --color-light-black: #222222;
    --color-dark-blue: #0056b3;
    --color-plomo: #e0e0e0;
    --color-bright-blue: #004085;
    --color-sea-blue: #002b5c;
    --color-radiant: #e7fcc0;
    --color-shadow-header: rgba(0 2px 4px rgba(0, 0, 0, 0.1));

    /* Dark colors */
    --color-acero: #4a5568;
    --color-niebla: #a1a1a1;
    --color-dire: #e7000b;

    /* Font Themes */
    --font-rubik: "Rubik", sans-serif; /*Párrafos*/
    --font-cinzel: "Cinzel", serif; /*Encabezados*/
    --font-roboto: "Roboto Serif", serif; /*Menús*/
    --font-montserrat: "Montserrat", sans-serif; /*Botones*/

    /* Breakpoint personalizado */
    --breakpoint-tablet: 49rem;
}
