---
import { MessageSquareQuote } from "@lucide/astro";

export interface Props {
    quote: string;
    author: {
        photo: string;
        name: string;
        occupation: string;
    }
}

const {quote, author} = Astro.props
---


<figure class="max-w-3xl mx-auto text-center my-10">
    <MessageSquareQuote class="w-10 h-10 text-sea-blue dark:text-orange mb-4 mx-auto"/>
    <blockquote>
        <p class="text-2xl italic font-semibold tracking-tight text-heading">
            {`"${quote}"`}
        </p>
    </blockquote>
    <figcaption class="flex items-center justify-center mt-6 space-x-3 rtl:space-x-reverse">
        <img class="w-7 h-7 rounded-full" src={author.photo} alt="influencer picture">
        <div class="flex items-center divide-x rtl:divide-x-reverse divide-default">
            <cite class="pe-3 font-medium text-heading">{author.name}</cite>
            <cite class="ps-3 text-sm text-body">{author.occupation}</cite>
        </div>
    </figcaption>
</figure>
