<section class="py-10 px-8">
    <div class="max-w-7xl mx-auto">
        <h2 class="mb-10 text-3xl tablet:text-4xl lg:text-6xl">Mis Hobbies</h2>
        <p class="text-sm text-gray-600 dark:text-neutral-300">Soy una persona que cuenta con distintos gustos, me gustaría compartirlos con ustedes 🤩</p>
    </div>
</section>