---
import MusicPlayer from "./components/MusicPlayer.astro";
import MyFavorites from "./components/MyFavorites.astro";
---

<section class="py-10 px-8">
    <div class="max-w-7xl mx-auto">
        <hgroup class="mb-4">
            <h2 class="mb-8 text-3xl tablet:text-4xl lg:text-6xl">Mis Hobbies</h2>
            <p class="text-sm tablet:text-lg text-gray-600 dark:text-neutral-300">Soy una persona que cuenta con distintos gustos, me gustaría compartirlos con ustedes 🤩</p>
        </hgroup>
        <div class="grid grid-cols-1 tablet:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-6 items-start">
            <MusicPlayer />
            <MyFavorites />
        </div>
    </div>
</section>