---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import { siteInfo } from '../config/info';
---

<Layout title={siteInfo.meta.title} description={siteInfo.meta.description} keywords={siteInfo.meta.keywords}>
    <main class="bg-white dark:bg-gray-900" role="main">
        <Hero />
    </main>
</Layout>
