---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <!-- <div class="bg-black">
        <h1 class="text-white">Portafolio</h1>
        <p class="text-white">Holaaa</p>
        
    </div> -->
    <div class="bg-acero dark:bg-red-500 text-white dark:text-white p-4 text-center font-bold">
  🔴    TEST DARK MODE - Este fondo debería ser ROJO en dark mode
    </div>
</Layout>
