---
import { Handshake, SmilePlus } from "@lucide/astro";
import Button from "./ui/Button.astro";
---
<section class="py-10 px-8 bg-radiant dark:bg-menu-dota">
    <div class="max-w-7xl mx-auto flex flex-col justify-center items-center gap-4">
        <div class="p-4 rounded-full bg-sea-blue text-dark-blue dark:bg-light-dire dark:text-dire">
            <Handshake size={50}/>
        </div>
        <hgroup class="text-center">
            <h3 class="text-3xl mb-4 tablet:text-4xl lg:text-6xl">
                ¿Tienes algún proyecto en mente?
            </h3>
            <p class="text-sm text-acero dark:text-plata">Empecemos a trabajar, estoy abierto a nuevas oportunidades laborales</p>
        </hgroup>
        <Button type="fill" url="/contacto" className="flex gap-4">
            Contacta conmigo <SmilePlus size={20}/>
        </Button>
    </div>
</section>
