<footer class="p-4 bg-linear-65 from-radiant via-blue-100 to-radiant md:p-8 lg:p-10 dark:from-gray-900 dark:via-gray-700 dark:to-gray-900">
  <section class="mx-auto max-w-7xl flex justify-between items-center">
    <section class="flex items-center gap-2">
        <a href="/" class="flex justify-center items-center">
            <img src="logo.webp" alt="DS" class="w-10 h-10 hover:animate-heartbeat"/>
        </a>
        <span class="separator-line hidden sm:inline-block bg-[rgba(183,202,255,0.5)] mt-5 -translate-y-1/2 w-px h-5"></span>
        <span class="text-sm text-light-black sm:text-center dark:text-neutral-200">© {new Date().getFullYear() } <a href="#" class="hover:underline">Daniel Soledad</a>. All Rights Reserved.</span>
    </section>
    <section>
        <ul class="flex flex-wrap justify-center items-center text-gray-900 dark:text-white">
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Premium</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">Campaigns</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Affiliate Program</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
          </li>
      </ul>
    </section>
  </section>
</footer>

