---
import Logo from "../assets/Logo.astro";
import { siteInfo, socialLinks } from "../config/info";
---

<footer class="p-4 bg-linear-65 from-radiant via-blue-100 to-radiant md:p-8 lg:p-10 dark:from-gray-900 dark:via-gray-700 dark:to-gray-900" role="contentinfo">
  <section class="container mx-auto max-w-7xl flex flex-col justify-between items-center sm:flex-row">
    <div class="flex flex-col sm:flex-row items-center gap-2">
        <a href="/" class="flex justify-center items-center">
            <Logo class={"hover:animate-heartbeat"} width={30} height={30} />
        </a>
        <span class="separator-line hidden sm:inline-block bg-light-black dark:bg-neutral-200 mt-5 -translate-y-1/2 w-px h-5"></span>
        <span class="text-sm font-rubik text-light-black sm:text-center dark:text-neutral-200">© {new Date().getFullYear()} 
            <a href={siteInfo.url || " "}>{siteInfo.author || " "}</a>
        </span>
    </div>
    <div class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start overflow-hidden">
        {socialLinks.map((social)=> (
            <a href={social.url} target="_blank" class="social-icon-link" rel="noopener noreferrer" title={social.site}>
                <div class="social-icon text-light-black dark:text-neutral-200">
                    <Fragment set:html={social.icon} />
                </div>
            </a>
        ))}
    </div>
  </section>
</footer>

<style is:global>
    .social-icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .social-icon svg{
        width: 20px;
        height: 20px;
        fill: currentColor;
        transition: all 0.3s ease-in-out;
    }

    .social-icon-link:hover .social-icon svg{
        width: auto;
        height: 24px;
        fill: currentColor;
    }

    .social-icon-link:hover .ic-linkedin {
    color: #1DA1F2;
  }

  .social-icon-link:hover .ic-github {
    color: #333;
  }

   .dark .social-icon-link:hover .ic-github {
    color: #fff;
  }
</style>


