---
import Navigation from "./Navigation.astro"
---

<header class="sticky top-0 z-50 bg-linear-to-r from-gray-900 via-gray-800 to-gray-900 backdrop-blur-md shadow-2xl shadow-gray-600">
    <div class="relative mx-auto flex items-center justify-between px-4 max-w-5xl h-15 md:gap-x-4">
        <div class="h-18 bg-linear-to-r from-gray-900 via-gray-800 to-gray-900 my-auto px-8 rounded-b-2xl shadow-xs shadow-gray-800">
            <div class="h-25 flex justify-center items-center bg-linear-to-r from-gray-900 via-gray-800 to-gray-900 p-8 rounded-lg shadow-2xl shadow-orange-600 ">
                <div class="h-16 w-16 drop-shadow-lg drop-shadow-orange-600 transition transform-3d duration-300 ease-in hover:scale-105">
                    <a href="/">
                        <img src="logo.webp" alt="DS Logo" class="animate-fade-in-down"/>
                    </a>
                </div>
            </div>
        </div>
        <Navigation />
    </div>
</header>