---
import { ClientRouter, fade } from 'astro:transitions';
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Meta from './Meta.astro';
import '../styles/global.css';
// import 'flowbite'


interface Props {
    title: string | undefined;
    description: string | undefined;
    keywords: string | undefined;
}

const {title, description, keywords} = Astro.props
---
<!doctype html>
<html lang="es">
	<head>
		<Meta title={title} description={description} keywords={keywords}/>
        <ClientRouter />
        <script src="https://cdn.jsdelivr.net/npm/flowbite@latest/dist/flowbite.min.js"></script>
	</head>
	<body>
        <div class="flex flex-col min-h-dvh overflow-x-hidden">
            <Header />
            <main class="bg-white dark:bg-gray-900 pt-15 flex-1" role="main">
                <slot />
            </main>
	        <Footer />
	    </div>
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
    p{
        font-family: var(--font-rubik);
    }
    h1,h2,h3,h4,h5,h6{
        font-family: var(--font-cinzel);
        color: var(--color-dark-blue)
    }
    .dark h1, .dark h2{
        color: var(--color-dire)
    }
    .dark h3{
        color: var(--color-orange)
    }
</style>

<script>
  import { initCarousels } from "flowbite";

  function applyTheme() {
    document.documentElement.classList.toggle(
      "dark",
      localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
    );
  }

  applyTheme();
  initCarousels();

  document.addEventListener("astro:after-swap", applyTheme);
  document.addEventListener("astro:page-load", initCarousels);
</script>