---
import { House, CircleChevronRight } from "@lucide/astro";

interface Props {
    fullPath: string[],
    label: string
}

const {fullPath, label} = Astro.props
---
<nav class="flex text-sm tracking-wide" aria-label="Breadcrumb">
    <ol class="inline-flex items-center text-bright-blue dark:text-orange space-x-1 tablet:space-x-2 lg:space-x-reverse font-roboto">
        <li class="inline-flex items-center space-x-1.5">
            <a href="/" class="inline-flex font-medium items-center hover:text-hard-radiant dark:hover:text-dire">
                <House size={20}/>
            </a>
            <CircleChevronRight size={20}/>
        </li>
        {fullPath.map((item, index) => {
            const isLast = index === fullPath.length -1;
            return (
                <li class="inline-flex items-center space-x-1.5">
                    {!isLast && item ? (
                        <a href={`/${item}`} class="font-medium hover:text-hard-radiant dark:hover:text-dire">
                            {item.charAt(0).toUpperCase() + item.slice(1)}
                        </a>
                    ): (
                        <span class="ml-1 text-sm text-bright-blue/90 dark:text-orange/90" aria-current="page">
                            {label}
                        </span>
                    )}
                    {
                        !isLast && (
                            <CircleChevronRight size={20}/>
                        )
                    }
                </li>
            )
        })}
    </ol>
</nav>
