---
interface Props {
    title: string
}

const {title} = Astro.props
---
<section class="relative py-15 md:py-20 lg:py-25 px-6 md:px-12 lg:px-18 overflow-hidden bg-linear-to-tr from-sky-600 via-emerald-400 to-lime-500 dark:bg-linear-to-bl dark:from-red-900 dark:via-orange-700 dark:to-orange-600">
<div class="container max-w-6xl mx-auto">
    <div class="mb-4">
        <slot />
    </div>
    <h1 class="text-4xl tablet:text-6xl lg:text-8xl text-center font-extrabold tracking-wide text-white!">
        {title}
    </h1>
</div>
</section>